<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMXperiments</title>
  <script src="//unpkg.com/htmx.org@1.9.2"
    integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
    crossorigin="anonymous"></script>
  <script src="//unpkg.com/hyperscript.org@0.9.9"></script>
  <link rel="stylesheet" href="/dist/out.css">
</head>

<body class="h-full bg-cover bg-center"
  style="background-image: url('https://images.unsplash.com/photo-1554629947-334ff61d85dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3000&h=2000&q=90');"
  data-script="
    on keydown[key is 'Escape'] send hide to #command-palette
    on keydown[key is 'k' and metaKey] send show to #command-palette
  ">

  <div id="command-palette" class="relative z-10 opacity-0 ease-in-out duration-300" role="dialog" aria-modal="true"
    data-script="
    on hide or show
      toggle .opacity-0 .scale-95 .scale-100 on #palette
      toggle .opacity-0 on me

    on show
      set #searchbox's value to ''
      call #searchbox.focus()
  ">

    <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>

    <div id="palette"
      class="fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20 opacity-0 ease-in-out scale-95 duration-300">

      <div
        class="mx-auto max-w-2xl transform divide-y divide-gray-500 divide-opacity-20 overflow-hidden rounded-xl bg-gray-900 shadow-2xl transition-all">
        <div class="relative">
          <svg class="pointer-events-none absolute left-4 top-3.5 h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
          <input id="searchbox" type="text" name="q"
            class="h-12 w-full border-0 bg-transparent pl-11 pr-4 text-white focus:ring-0 sm:text-sm"
            placeholder="Search..." hx-get="/search" hx-target="#search-results" hx-swap="innerHTML"
            hx-trigger="keyup changed delay:500ms" data-script="
              on keyup from me
                if me's value is not ''
                  remove .hidden from #search-results
                  log 'keyup', me's value
            ">
        </div>

        <!-- Results, show/hide based on command palette state. -->
        <ul id="search-results" class="max-h-96 overflow-y-auto p-2 text-sm text-gray-400 hidden">
          <!-- Active: "bg-gray-800 text-white" -->
          <li class="group flex cursor-default select-none items-center rounded-md px-3 py-2">
            <!-- Active: "text-white", Not Active: "text-gray-500" -->
            <svg class="h-6 w-6 flex-none text-gray-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
            </svg>
            <span class="ml-3 flex-auto truncate">Workflow Inc. / Website Redesign</span>
            <!-- Not Active: "hidden" -->
            <span class="ml-3 hidden flex-none text-gray-400">Jump to...</span>
          </li>
        </ul>

        <!-- Empty state, show/hide based on command palette state. -->
        <div class="px-6 py-14 text-center sm:px-14 hidden">
          <svg class="mx-auto h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
          </svg>
          <p class="mt-4 text-sm text-gray-200">We couldn't find any projects with that term. Please try again.</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- <h1 class="mb-4 bg-blue-500">
    Hello HTMX
  </h1>

  <div>
    <input id="search-input" type="text" placeholder="Search for securities" hx-get="/search" hx-trigger="keyup" hx-target="#searchResult" hx-swap="innerHTML">
  </div>

  <div id="search-result">
  </div> -->

  <!-- <pre>{{debug}}</pre> -->

  <!-- <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>user_id</th>
        <th>amount</th>
        <th>type</th>
        <th>price</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
    </thead>
    <tbody>
      {{#each securities}}
        <tr>
          <td>{{ID}}</td>
          <td>{{Name}}</td>
          <td>{{UserID}}</td>
          <td>{{Amount}}</td>
          <td>{{Type}}</td>
          <td>{{currency Price}}</td>
          <td>{{formatDateRelative CreatedAt}}</td>
          <td>{{formatDateRelative UpdatedAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table> -->
</body>

</html>